<h1>Produto</h1>

<div class="product">
    <h2>{{product.title}}</h2>
    <img src={{product.image}} alt={{product.title}}>
    <p>{{product.content}}</p>
    <p>Preço: R${{product.price}}</p>
</div>